
.navbar{
   background-color:var(--primarylight);
}
.navbar__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo{
    font-family: var(--poppins);
    font-size: 32px;
    font-weight:var(--semibold);
    text-transform: uppercase;
    cursor: pointer;
}

.navbar__items{
    font-family: var(--poppins);
    font-size:16px;
    font-weight: var(--reguler);
    cursor: pointer;
}
.navbar__item{
    display: flex; 
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    list-style-type: none;
    color: var(--defaultWhite);
}
.navbar__button{
    margin-left: 70px;
}