
:root{
    --primary:#fc4475;
    --primarylight:#f4c2c2;
    --defaultWhite:#ffff;
    --defaultBlack:#0c020287;
    --sectionGap:30px;
    --poppins:'Poppins';
    --reguler:400;
    --medium:500;
    --semibold:600;
    --bold:700;
    --extrabold:800;
}